h1 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: rgb(12, 88, 117);
}

.output span {
    font-size: 22px;
    color:#7FFF00;
}
.output p {
    font-family: 'Times New Roman',serif;
    text-align:left;
    font-size: 16px;

}
#button_send:hover {
   box-shadow:5px 5px 5px greenyellow;
}